.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img{
    width: 100%;
}

.login > a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: 800;
    background-color: #1ed15e;
    border-radius: 99px;
}